<%= simple_form_for(@restaurante) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.file_field :image %>
    <%= f.input :nombre_representante %>
    <%= f.input :tel_representante %>
    <%= f.input :celular %>
    <%= f.input :correo %>
    <%= f.input :password %>
  </div>

<div class="actions">
    <%= f.button :submit, "Crear Restaurante", :class => 'btn-primary' %>
    
      <%= link_to("cancelar", root_path, :data => { :confirm => "No se guardaran datos" }, :class => 'btn btn-inverse') %>
    
  </div>
<% end %>
