<%= simple_form_for(@comentario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comentarios %>
    <%= f.input :id_producto %>
    <%= f.input :id_usuario %>
    <%= f.input :fecha %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Crear Comentario", :class => 'btn-primary' %>
    
      <%= link_to("cancelar", root_path, :data => { :confirm => "No se guardaran datos" }, :class => 'btn btn-inverse') %>
    
  </div>
<% end %>



