<%= simple_form_for(@producto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
    <%= f.input :nombre %>
  </div>

  <div class="field">
    <%= f.input :precio %>
  </div>

  <div class="img">
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :Categoria %>
    <%= f.collection_select(:categorium_id,Categorium.all, :id, :nombre)  %>
  </div>
 

 <div class="field">
  <%= f.label :Restaurante %>

    <%= f.collection_select(:restaurante_id,Restaurante.all, :id, :nombre) %>
  </div>
  
  </div>

  <div class="actions">
    <%= f.button :submit, "Crear Producto", :class => 'btn-primary' %>
    
      <%= link_to("cancelar", root_path, :data => { :confirm => "No se guardaran datos" }, :class => 'btn btn-inverse') %>
    
  </div>
<% end %>
